@page "/"

@inject IPageRepository _pageRepository
@using System.Text.Json;
@using Core.Models.Domain;
@using Core.Models.Repository;


<div class = "header">
	<div class = "ImgHP"></div>
	<div class = "Text">

		<h1 class = "Title">@_page.Title</h1>

		<p class = "SubTitle" style="text-align: center;">@_page.Description</p>
	</div>
</div>

<div class = "Intro">
	<h1 class = "Title">Supporting education and innovation.</h1>
	<a class = "Button" href = '/Our Vision'>Our Vision</a>


	<p class = "Content">Our commitment to supporting education and innovation goes beyond words—it's woven into the very fabric of our organization. We take pride in the positive impact we have on the lives of our students, the community, and the world as a whole. 

	</p>
	<p class = "Content">
		Join us on this journey to empower the next generation of leaders and thinkers, and together, we'll create a brighter, more innovative, and educated future for all.

	</p>

</div>


<div class="About">
	@foreach (var section1 in _page.Sections)
	{
		@*About1*@
			<div class = "About1">
					<h1 class = "Title">@section1.Title</h1>
				<a class = "Button" href = '/'>Learn More</a>

				<p class = "Content">@section1.Content 

				</p>
				<img class = "Image" src="@section1.ImageUrl" alt="About1" />
			</div>

	}
</div>

<div class = "Slogan" style = "padding: 75px 5%">
	<h1 class = "Content">
	“With the support from Education Guild, we have been able to serve our students better than ever.”
	</h1>
	<div class = "SubContent">
		— Nguyen An Vu, Founder of Education Guild
	</div>
</div>


<div class = "Contact" style = "padding-bottom : 75px">
	<div class = "TitleGroup" >
		<h1 class = "Title" style = "font-weight:bold">
			Contact
		</h1>
		<p class = "STitle">
			Feel free to contact us with any questions.
		</p>
	</div>
	<div class = "Content">

		@*contact-company*@
		<div class = "Contact-col">
			<h5 class = "Location">

			114 Tô Ký Quận 12, Thành Phố HCM
			</h5>
			<h5 class = "Phone">
				0901312409
			</h5>
			<h5 class = "Email">
				sechii202@gmail.com
			</h5>
		</div>
		@*location*@
		<div class= "Location">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.292778508442!2d106.6170108759066!3d10.86532175754599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b124a55b4f3%3A0xe1fa4e4aea38422b!2zMTE0IFTDom4gQ2jDoW5oIEhp4buHcCAxOCwgVMOibiBDaMOhbmggSGnhu4dwLCBRdeG6rW4gMTIsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1698771546092!5m2!1svi!2s"
			="600"
			="450"
			style="border: 0"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
			></iframe>
		</div>


		@*Contact form*@
		<div class = "ContactForm">
		<input class = "Name" type = "Name" placeholder = "Name" style = "border: 1px;
		padding: 11px 10px;
		border-style:groove;"/>

		<input class = "Email" type = "Email" placeholder = "Email" style = "border: 1px; padding: 11px 10px;
		border-style:groove"/>

		<input class = "Message" type = "Message" placeholder = "Message" style = "border: 1px;
		padding: 11px 10px;
		border-style:groove;" />
		<button class = "Button" type = "Submit" >Submit</button>	
	</div>
	</div>


</div>


@code {
	private Page _page = new Page();

	protected override async Task OnInitializedAsync()
	{
		_page = await _pageRepository.GetByUrlAsync("/");
		await base.OnInitializedAsync();
	}
}
